Repository KhronosGroup/glslang, pull requests merged in 2022-09, with the labels that each got.

#3014 GL_EXT_mesh_shader/SPV_EXT_mesh_shader implementation
  SPIRV/CInterface/spirv_c_interface.cpp
  SPIRV/GLSL.ext.EXT.h
  SPIRV/GlslangToSpv.cpp
  SPIRV/doc.cpp
  SPIRV/spirv.hpp
  StandAlone/ResourceLimits.cpp
  StandAlone/StandAlone.cpp
  Test/baseResults/glsl.460.subgroupEXT.mesh.out
  Test/baseResults/glsl.460.subgroupEXT.task.out
  Test/baseResults/spv.460.subgroupEXT.mesh.out
  Test/baseResults/spv.460.subgroupEXT.task.out
  Test/baseResults/spv.atomiAddEXT.error.mesh.out
  Test/baseResults/spv.atomiAddEXT.task.out
  Test/baseResults/spv.ext.meshShaderBuiltins.mesh.out
  Test/baseResults/spv.ext.meshShaderRedeclBuiltins.mesh.out
  Test/baseResults/spv.ext.meshShaderTaskMem.mesh.out
  Test/baseResults/spv.ext.meshShaderUserDefined.mesh.out
  Test/baseResults/spv.ext.meshTaskShader.task.out
  Test/baseResults/test.conf
  Test/spv.460.subgroupEXT.mesh
  Test/spv.460.subgroupEXT.task
  Test/spv.atomiAddEXT.error.mesh
  Test/spv.atomiAddEXT.task
  Test/spv.ext.meshShaderBuiltins.mesh
  Test/spv.ext.meshShaderRedeclBuiltins.mesh
  Test/spv.ext.meshShaderTaskMem.mesh
  Test/spv.ext.meshShaderUserDefined.mesh
  Test/spv.ext.meshTaskShader.task
  glslang/CInterface/glslang_c_interface.cpp
  glslang/Include/BaseTypes.h
  glslang/Include/ResourceLimits.h
  glslang/Include/Types.h
  glslang/Include/glslang_c_interface.h
  glslang/Include/glslang_c_shader_types.h
  glslang/Include/intermediate.h
  glslang/MachineIndependent/Initialize.cpp
  glslang/MachineIndependent/ParseHelper.cpp
  glslang/MachineIndependent/Scan.cpp
  glslang/MachineIndependent/ShaderLang.cpp
  glslang/MachineIndependent/Versions.cpp
  glslang/MachineIndependent/Versions.h
  glslang/MachineIndependent/glslang.m4
  glslang/MachineIndependent/glslang.y
  glslang/MachineIndependent/glslang_tab.cpp
  glslang/MachineIndependent/glslang_tab.cpp.h
  glslang/MachineIndependent/intermOut.cpp
  glslang/MachineIndependent/linkValidate.cpp
  glslang/MachineIndependent/localintermediate.h
  glslang/Public/ShaderLang.h
  gtests/Spv.FromFile.cpp
  gtests/TestFixture.cpp
  known_good.json
Labels: enhancement, SPIR-V, GLSL/ESSL

#3015 Fix: Remove NV suffix from glslang C interface
  SPIRV/CInterface/spirv_c_interface.cpp
  glslang/Include/glslang_c_shader_types.h
Labels: enhancement, GLSL/ESSL

#3016 Fixed a small grammatical error
  glslang/Public/ShaderLang.h
Labels: enhancement, Infrastructure

#3021 Fix OpLine prepending OpFunction reports wrong file when #line is pre…
  SPIRV/GlslangToSpv.cpp
  Test/baseResults/hlsl.pp.line2.frag.out
  Test/baseResults/hlsl.pp.line4.frag.out
  Test/baseResults/spv.pp.line.frag.out
  Test/spv.pp.line.frag
Labels: bug, SPIR-V, HLSL
